<div style="display: flex; flex-wrap: wrap">
  <% discoverPageData.forEach(card=> { %>
    <div class="card post" id="item<%= card.content_id %>">
      <img src="images/<%= card.img %>" class="card-img-top post-image" alt="Loading..." />
      <div class="card-body">
        <h5 class="card-title" style="flex: 1">🙶 <%= card.title %>
        </h5>
        <p class="text-body-secondary">
          ~ <%= card.username %>
        </p>
        <div class="d-inline-flex gap-1">
          <div class="post-ratings-container">
            <div class="post-rating like" style="display: inline;">
              <button type="button" class="btn btn-secondary post-rating-button post-rating-button-like"
                onclick="like(`item<%= card.content_id %>`)">🖒</button>
              <span class="post-rating-count">
                
                <%= card.total_likes %> : <%= card.total_dislikes %>

              </span>
            </div>
            <div class="post-rating dislike" style="display: inline;">
              <button type="button" class="btn btn-secondary post-rating-button post-rating-button-dislike"
                onclick="dislike(`item<%= card.content_id %>`)">🖓</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
</div>